/*图表头部样式*/
.chartMain{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.chartMain .dataTop{
	width: 100%;
	color: #1ab394;
	font-size: 17px;
	padding:  0 20px;
	height: 43px;
	line-height: 43px;
	border-bottom: 1px solid #e8e8e8;
	overflow: hidden;
}
.chartMain .dataTop span.stationName{
	float: left;
	width: 50%;
	height: 100%;
	border-right: 1px solid #C0C0C0;
}
.chartMain .dataTop .dataTime{
	float: right;
	
}
.chartMain .dataTop .dataTime .form-control{
	border: none;
	height: auto;
	color:#1ab394 ;
	cursor: pointer;
}
.chartMain .selectData{
	padding:0 0 0 20px ;
	height: auto;
	overflow: hidden;
}
.chartMain .selectData li{
	float: left;
	cursor: pointer;
	color: #484848;
	padding: 20px  20px ;
}
.chartMain .selectData li b{
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	vertical-align: middle;
	margin-top: -5px;
	margin-right:5px ;
	background: #1AB394;
}
.chartMain .dataTop span.energy{
	float: left;
    width: 100% !important; 
    border-right: none !important;
}

/*图表样式*/
.allChart{
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: 1px solid #e8e8e8;
}
.allChart .chartLine{
	width: 75%;
	float: left;
}
/*折线图*/
#chartContent{
	height:235px ;
	width: 90%;
	/*padding-top: 10px;*/
	margin: 0 auto;
	margin-top: -8px;
}
/*雷达图*/
#mapRadar{
	float: left;
	width: 24%;
	height: 279px;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	margin-left: 10px;
	margin:  auto;
	margin-top: 10px;
}
#mapRadar>p{
	font-size: 14px;
	color: #333;
	height: 37px;
	line-height: 38px;
	padding-left: 10px;
	background: #f9f9f9;
	border-bottom: 1px solid #f3f3f3;
}
#mapRadarContent{
	width: 100%;
	height: calc(100% - 37px);
	margin: 0 auto;
}
/*南丁格尔图*/
#diagram {
	padding-left: 45px;
	overflow: hidden;
}
#diagram .chartTitle{
	height: 43px;
	line-height: 43px;
	font-size: 16px;
	color: #1AB394;
	font-weight: 700;
}

#diagram ol li{
	width: 350px;
	height: 330px;
	border: 2px solid #e0e0e0;
	border-radius: 3px;
	margin-right: 60px;
	float: left;
	margin-bottom: 20px;
}
#diagram ol li>p{
	font-size: 14px;
	color: #333;
	height: 45px;
	line-height: 46px;
	padding-left: 10px;
	background: #f9f9f9;
	border-bottom: 1px solid #f3f3f3;
}
#diagram ol li>div{
	width: 100%;
	height: calc(100% - 45px);
	margin: 0 auto;
}
.layui-layer{
	box-shadow: 8px 8px rgba(0,0,0,.5) !important;
}
