html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    position: relative;
    font-family: "Microsoft Yahei";
}
input, button, select, textarea{
	outline: 0;
    font-family: inherit;
}
a{
    color:#333;
    text-decoration: none;
}
li{
    list-style: none;
}
.map{
    height: 100%;
    position: relative;
}
.left{
    width: 386px;
    height:auto;
    overflow: hidden;
    position: absolute;
    left:20px;top:20px;
    z-index: 2;
}
.left .top input{
    box-sizing: border-box;
    border: 0;
    padding: 9px 0;
    border-left: 10px solid transparent;
    border-right: 27px solid transparent;
    line-height: 20px;
    font-size: 16px;
    height: 38px;
    color: #333;
    width: 329px;
    border-radius: 2px 0 0 2px;
    float: left;
    outline:none;
    border-bottom: 1px solid #eee;
}
#search_button{
    pointer-events: auto;
    background: url(http://webmap0.map.bdstatic.com/wolfman/static/common/images/new/searchbox_f175577.png) no-repeat 0 -76px #1ab394;
    width: 57px;
    height: 38px;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline:none;
    border-radius: 0 2px 2px 0;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
}
.cardlist{
    /*width: 309px;*/
    width: 328px;
    margin-top: 0;
    background: #fff;
    max-height:800px;
    overflow: auto;
}
.cardlist li{
    padding: 5px 20px;
    border-bottom: 1px solid #eee;
}
.cardlist li:hover{
    background: #eee;
}
.cardlist li p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.cardlist li p:nth-child(1){
   color:green;
}
.cardlist li span{
    color:#666;
    margin-right: 20px;
}
/*right*/
.right{
    width: 242px;
    height:auto;
    overflow: hidden;
    position: absolute;
    top:20px;
    right:20px;
    z-index: 2;
}
.citychangeopt{
    display: inline-block;
    float: left;
    border-radius: 2px;
    margin-left: 10px;
}
.city_inner{
    float: left;
    display: inline-block;
    padding-right: 12px;
    height: 34px;
    line-height: 34px;
    background-color: #fff;
    color: #666;
    font-size: 12px;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
}
.city_inner span{
    font-size: 13px;
    float: left;
}
.city_inner em{
    width: 7px;
    height: 7px;
    margin-left: 5px;
    float: left;
    margin-top: 13px;
    background-image: url(http://webmap1.map.bdstatic.com/wolfman/static/common/images/ui3/tools/newtools_9ddbaad.png);
    background-repeat: no-repeat;
    background-position: -13px -17px;
}
.pointer{
    height: 34px;
    background: #fff;
    border-radius: 2px;
}
.energy{
    padding-right: 10px;
    line-height: 34px;
    float: left;
    display: inline-block;
    cursor: pointer;
}
.energy span{
    float: left;
    height: 34px;
    width: 29px;
    background-image: url(http://webmap1.map.bdstatic.com/wolfman/static/common/images/ui3/tools/newtools_9ddbaad.png);
    background-repeat: no-repeat;
}
.pointer i{
    float: left;
    font-size: 12px;
    font-style: normal;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    color:#1ab394;
}
.pointer b{
    display: inline-block;
    float: left;
    border-left: 1px solid #eee;
    height: 20px;
    margin-top: 8px;
}
.area{
    padding-right: 10px;
    line-height: 34px;
    float: left;
    cursor: pointer;
    display: inline-block;
}
.area i{
    color:#1ab394;
}
.clog{
	float: right;
	margin-right: 10px;
}
/*.city_inner span:hover,.area:hover,.energy:hover{
    color:#1ab394;;
}*/
.company_name{
    width: 242px;
    height: auto;
    overflow: hidden;
    background: #fff;
    margin-top: 3px;
    font-size: 14px;
}
.listTop{
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
}
.listTop .fa{
    cursor: pointer;
    float: right;
    color:#666;
    margin-top: 2px;
}
.listMiddle{
	border-bottom: 1px solid #eee;
    padding: 5px 0 5px 10px;
}
.company_ul{
	margin-top: 0;
    padding: 5px 14px 0 18px;
    margin-bottom: 5px;
}
.company_ul li{
    margin-right: 15px;
    margin-bottom: 5px;
    display: inline-block;
}
.company_ul li span{
	cursor: pointer;
}
.company_ul li span:hover{
	color:#1ab394;
}
.sColor{
	color:#1ab394!important;
}


.BMap_bubble_title{
	margin-top: -3px!important;
}
/*lodding*/
.layui-layer-ico16, .layui-layer-loading .layui-layer-loading2{
	background-size: cover!important;
}
