html{
	background:#f3f3f5 !important;
	height: 100%;
}
.accountBox{
	width:calc(100% - 30px);	
	background:#f3f3f5;
	float:left;
	padding-left: 30px;
	position: relative;	
}
/*top����*/
.accountBox .accountTop{
	height:65px;	
}
.accountBox .accountTop span{
	padding-top:30px;
	display: inline-block;
}
.accountBox .accountTop span:nth-child(1){	
	margin:0 20px;
	font-size:24px;
	color:#5d5d5d;	
}
.accountBox .accountTop span:nth-child(2){
	margin-left:5px;
	font-size:14px;
	margin-right:5px;
	text-indent:-20px;
}
.accountBox .accountTop span:nth-child(2) i{
	margin-left:5px;
}
.accountBox .accountTop span:nth-child(2) .fa-dot-circle-o{
	color: #1ab394;
}
.accountBox .accountTop span:nth-child(2) .fa-circle{
	color: #7a7a7c;
}
.locationCol{
	color: #1ab394;
}
/*����*/
.accountBox .accountTop .search{
	border:1px solid #c1c1c1;
	background:#fff;
	float:right;
	border-radius: 5px 5px;
	width:360px;
	padding:0;
	height:42px;
	font-size:15px;
	margin-top:25px;
	line-height: 41px;
}
.accountBox .accountTop i{
	cursor: pointer;
}
.accountBox .accountTop .search input:nth-child(1){
	color:#1ab394;
	width:321px;
	height: 41px;
	padding-left:12px;
	border-radius: 5px 5px;
}
.accountBox .accountTop .search i:nth-child(2){
	color:#1ab394;
	font-size:14px;
	cursor: pointer;
}
.accountBox hr{
	width:100%;
	height:4px;
	background:#e0e0e0;
	border:0;
	margin-bottom: 5px;
	display: inline-block;
}

/*���ڲ����������ʽ*/
#searchInput{
   width:100%;
   height:95px;
   overflow:hidden;
   color:#5ac1a6;
   font-size:1.1em;
   font-family:"微软雅黑" ;
   font-weight:bolder;
   color: #757575;
 
}
/*�����˵�*/
#searchInput .kindOperation {
	width:350px;
	height:42px;
	background-color:white;
	border:1px solid #1AB394;
	border-radius:4px;
	margin:20px 0 0px 0px;
	float:left;
	font-weight:bolder;
	text-indent:15px;
	color:#1AB394;
}
#searchInput .kindOperation>button{
	width:50%;
	height:100%;
	line-height:40px;
	text-align: center;
	float:left;
}
#searchInput .kindOperation button:nth-child(1){
	border-right:1px solid #1AB394;
}
#searchInput .kindOperation .selected{
	background:#1AB394;
	color:#fff;
}
/*���ڲ��*/
#datepicker{
	width:760px;
	height:42px;
    background-color:white;
    border-radius:4px;
    line-height:42px;
    border:1px solid #c1c1c1;
    margin:20px 0px 0px  0px;
    text-indent:20px;  
	overflow:hidden;
}
#start,#end{
	width:320px;
	height:42px;
	overflow:hidden;
}
#start p, #end p{
 width:67px;
 float:left;
}
#start input, #end input{
 float:right;
}
#start{
	float:left;
}
#end{
	float:right;
}

/*����*/
#searchInput  .search{
	border:1px solid #c1c1c1;
	background:#fff;
	float:right;
	border-radius: 5px 5px;
	width:330px;
	padding:0;
	height:42px;
	font-size:15px;
	line-height: 41px;
	/*margin-top:-43px;*/
	margin-top: 20px;
}

#searchInput i{
	cursor: pointer;
}
#searchInput .search input:nth-child(1){
	color:#1ab394;
	width:295px;
	height: 41px;
	padding-left: 12px;
	border-radius: 5px 5px;
}
::-webkit-input-placeholder{
	color:#1AB394;
}
:-moz-placeholder{
	color:#1ab394;
}
::-moz-placeholder{
	color:#1ab394;
}
#searchInput .search i:nth-child(2){
	color:#1ab394;
	font-size:14px;
	cursor: pointer;
}

/*�б����ʽ*/
.boxList{
	background: #fff;
	width: 100%;
}
.boxList{
	width: 100%;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
}
.table{
	font-size:1.1em;
	font-family:"΢���ź�";
	color:black;
	border-radius: 5px;
}
.boxList h4{
	font-weight: 700;
	text-align: center;
	padding-bottom: 20px;
}	
.boxList dl{
	box-sizing: border-box;
	float: left;
	padding-right: 20px;
	width: 10%;
}
.table{
	margin-bottom:0 ;
}

.table>tbody>tr>td, 
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th, 
.table>thead>tr>td,
.table>thead>tr>th{
	cursor: pointer;
	height: 54px;
	line-height: 37px;
	border-style:none;
	border-width:0;
	border-bottom: 1px solid #ddd;
	font-size: 15px;
	font-weight: 100;
	padding: 0;	
}
.table>thead>tr>th{
	font-family: "微软雅黑";
	font-size: 15px;
	color:#606060;
	font-weight: bolder;
	
}
.table>tbody>tr>td:nth-of-type(1),.table>thead>tr>th:nth-of-type(1){
	padding-left:20px ;
}
.table>tbody>tr td b{
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	background: #3B3B3B;
	border-radius: 50%;
	text-align: center;
	color: #1ab394;
	margin-right: 5px;
}
.table>thead>tr>th{
	color:#515151;
	border: 0;
}
.table>tbody>tr{
	color: #a3a3a3;
}
.table>tbody>tr.borderColor {
	border-left:3px solid #1ab394 ;
	color: #1ab394;
}
.table thead>tr{
	background: #f9f9f9;
}
.table tbody tr:nth-of-type(2n+1){
	background: #fff;
}
.table tbody tr:nth-of-type(2n+2){
	background: #f9f9f9;
}
.table tbody tr:hover{
	color:#1ab394 ;
}
.table tbody tr td.color1{
	color: #A3A3A3;
}
.table tbody tr td.color0{
	color: #f00;
}
.table>tbody>tr .fa{
	color: #1ab394;
}

#footer{
	width:100%;
	height:100px;
	background-color: white;
	border-bottom: 1px solid #ccc;
}
#pageContent{
	float:left;
	height:100px;
	line-height: 100px;
	text-indent:20px;
	font-family: 'arial';
	font-size: 14px;
}
#pageList{
	width:auto;
	float:right;
	overflow: hidden;
	margin:30px 30px 0px 0px;
	border-radius: 5px;
}
#pageList li{
	list-style:none;
	width:55px;
	height:30px;
	background-color: white;
	border:1px solid #ccc;
	border-right:none;
	float:left;
	font-family: 'arial';s
	font-size: 14px;
	text-align: center;
	line-height:30px;
	cursor:pointer;
}
#pageList .prev,#pageList .next{
	border-right:1px  solid #ccc;
}
#pageList .liActive{
	background-color:#aaacab;
}

/*ý���ѯ*/
/*���ڿؼ�����ʽ*/
@media screen and (max-width: 1692px) {
	#datepicker{
		width:520px;
		height:42px;
	    background-color:white;
	    border-radius:4px;
	    line-height:42px;
	    border:1px solid #c1c1c1;
	    margin:20px 0px 0px  0px;
	    text-indent:20px;  
		overflow:hidden;
	}
	#start,#end{
		width:228px;
		height:42px;
		overflow:hidden;
	}
}
@media screen and (max-width: 1444px) {
	#searchInput .kindOperation {
		width:350px;
		height:42px;
		background-color:white;
		border:1px solid #c1c1c1;
		border-radius:4px;
		margin:20px 0 0px 0px;
		float:left;
		font-weight:bolder;
		text-indent:15px;
	}
	#datepicker{
		width:485px;
		height:42px;
	    background-color:white;
	    border-radius:4px;
	    line-height:42px;
	    border:1px solid #c1c1c1;
	    margin:20px 0px 0px  0px;
	    text-indent:20px;  
		overflow:hidden;
	}
	#start,#end{
		width:240px;
		height:42px;
		overflow:hidden;
	}
}
@media screen and (max-width: 1390px) {
	#searchInput .kindOperation {
		width:320px;
		height:42px;
		background-color:white;
		border:1px solid #c1c1c1;
		border-radius:4px;
		margin:20px 0 0px 0px;
		float:left;
		font-weight:bolder;
		text-indent:15px;
		line-height:42px;
	}
	#searchInput .kindOperation>button{
		width:50%;
		height:100%;
		
	}
}
@media screen and (max-width: 1348px) {
	#searchInput .kindOperation {
		width:350px;
		height:42px;
		background-color:white;
		border:1px solid #c1c1c1;
		border-radius:4px;
		margin:20px 3% 0px 0px;
		float:left;
		font-weight:bolder;
		text-indent:15px;
	}
	#searchInput .kindOperation>button{
		width:50%;
		height:100%;
		
	}
}
@media screen and (max-width: 1306px) {
	#searchInput .kindOperation {
		width:350px;
		height:42px;
		background-color:white;
		border:1px solid #c1c1c1;
		border-radius:4px;
		margin:20px 1% 0px 0px;
		float:left;
		font-weight:bolder;
		text-indent:15px;
	}
	#searchInput .kindOperation>button{
		width:50%;
		height:100%;
		
		
	}
}
.oboxList{
	display:none;
}



/*添加*/

.timer{
	float: left;
    margin-top: 20px;
    color: #757575;
    margin-left: 15%;
}

@media only screen and (max-width:1920px ) {
	.timer{
		margin-left: 15%;
	}
}
@media only screen and (max-width:1680px ) {
	.timer{
		margin-left: 10%;
	}
}
@media only screen and (max-width:1600px ) {
	.timer{
		margin-left: 8%;
	}
}
@media only screen and (max-width:1440px ) {
	.timer{
		margin-left: 3.5%;
	}
}
@media only screen and (max-width:1400px ) {
	.timer{
		margin-left: 2.2%;
	}
}
@media only screen and (max-width:1366px ) {
	.timer{
		margin-left: 1.7%;
	}
}
#reservationtime{
	border: 1px solid #ccc;
    width: 600px !important;
    line-height: 40px;
    text-align: center;
    color: #1AB394;
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
}
.taskList .listTop span{
	color:#999;
}
.taskList .listTop button{
	border: 1px solid #1AB394;
    color: #1AB394;
    padding: 7px 30px;
    margin-left: 25px;
    border-radius: 4px;
}
.taskList .listTop .btnColor{
	background: #1AB394;
	color:#fff;
}
.taskList .listTop hr{
	height: 1px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
    margin-top: 15px;
}

.taskList .listTop .dataTime input{
    width: 600px;
}
.btn-small{
	margin-top:20px;
}
.btn{
	padding: 5px 12px;
}
.applyBtn{
	background:#1ab394;
	color:#fff;
	margin-left:10px;
}
.daterangepicker.opensright .ranges{
	width:582px;
	height:50px;
	float:left;
	/*text-align:right;*/
	padding-left:8px;	
}
.daterangepicker .ranges .input-mini{
	width: 105px!important;
}
.daterangepicker select{
	border:1px solid #ccc;
	text-align:center;
}
.rangefooter{
	height:290px;
	width:580px;
}
.rangefooter .right{
	display: inline-block !important;
	float:left;
	
}
.rangefooter .left{
	display: inline-block !important;
	float:right;
    margin-right: 20px!important;
}
.nodata{
	width:100%;
	height:316px;
	text-align:center;
	font-size:24px;

	line-height:316px;
	background:#E5E5E5;
	border-bottom:1px solid #ccc;
	display:block;
}
.chartContent{
	width:100%;
	border-bottom:1px solid #ccc;
}
.contrastChart{
	height:316px;
	/*background:#de3;*/
	margin:auto;
	
}
#line{
	width:800px;
	height:316px;
	margin:auto;
	color:#1ab394;
	text-align:center;
	float:left;
	margin-left:10px;
}
.closeChart{
	font-size:28px;
	color:#1ab394;
	float:right;
	cursor: pointer;
	display: inline-block;
	width:30px;
	height:30px;
}
.dataChartBox{
	text-align:center;
	color:#acacac;
	line-height:300px;
}
.hourselect,.minuteselect,.ampmselect{
	padding-left:12px !important;
	text-align: left !important;
	
}
.hourselect option,.minuteselect option,.ampmselect option{
	padding-left:12px !important;
	width:50px !important;
}
.daterangepicker td.active{
	background: #1ab394;
	border-radius: 5px 5px;
}
.daterangepicker td.active:hover{
	background: #1ab394;
	border-radius: 5px 5px;
}
option:hover{
	background:#1ab394 !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #1ab394;
    border-color: #1ab394;
}
.pagination>li>a, .pagination>li>span{
	color: #ccc;
}
.boxList table:nth-child(2) tbody>tr td:first-child{
	padding-left: 28px;
}
.bootstrap-table .table>tbody>tr>td:first-child{
	padding-left: 28px!important;
}
.fixed-table-pagination .pagination-detail{
	margin-left: 27px;
}
.fixed-table-pagination div.pagination{
	margin-right: 25px;
	margin-top: 25px;
}
.clearfix{
	background: #fff;
}

.excel_o{
	float:right;
	color:#1AB394;
	margin-right:35px;
	cursor: pointer;
	line-height: 14px;
    margin-top: 43px;
}
.excel_o a{
	color:#1AB394;
	text-decoration: none;
}
.print {
    float: right;
    color: #1c9c83;
    margin-right: 35px;
    cursor: pointer;
   line-height: 14px;
    margin-top: 43px;
}
.boxList>.bootstrap-table:nth-child(3) .fixed-table-pagination{
	display: none !important;
}

.oboxList>.bootstrap-table:nth-child(3) .fixed-table-pagination{
	display: none !important;
}
.oboxList>.bootstrap-table:nth-child(3) .fixed-table-container .fixed-table-body .fixed-table-loading{
	display: none !important;
}
.boxList>.bootstrap-table:nth-child(3) .fixed-table-container .fixed-table-body .fixed-table-loading{
	display: none !important;
}
.fa-file-excel-o,.fa-print{
	margin-right:10px;
}
.boxList #logTableCopy,.oboxList #ologTableCopy{
		display: none;
	}