/*图表头部样式*/
.chartMain{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.chartMain .dataTop{
	width: 100%;
	color: #1ab394;
	font-size: 17px;
	padding:  0 20px;
	height: 43px;
	line-height: 43px;
	border-bottom: 1px solid #e8e8e8;
	overflow: hidden;
}
.chartMain .dataTop span.stationName{
	float: left;
	width: 50%;
	height: 100%;
	border-right: 1px solid #C0C0C0;
}
.chartMain .dataTop .dataTime{
	float: right;
	
}
.chartMain .dataTop .dataTime .form-control{
	border: none;
	height: auto;
	color:#1ab394 ;
	cursor: pointer;
}
.chartMain .selectData{
	padding:0 0 0 20px ;
	height: auto;
	overflow: hidden;
}
.chartMain .selectData li{
	float: left;
	cursor: pointer;
	color: #484848;
	padding: 20px  20px ;
}
.chartMain .selectData li b{
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	vertical-align: middle;
	margin-top: -5px;
	margin-right:5px ;
	background: #1AB394;
}
.chartMain .dataTop span.energy{
	float: left;
    width: 100% !important; 
    border-right: none !important;
}

/*图表样式*/
.allChart{
	overflow: hidden;
	/*border-bottom: 1px solid #e8e8e8;*/
}
/*左边样式*/
.allChart .chartLeft{
	width: 75%;
}
.allChart .chartLeft p{
	padding-left: 50px;
	color: #1AB394;
	padding-top: 15px;
}
/*折线图*/
#chartContent ,#hotContent{
	height:300px ;
	margin-right: 20px;
	margin-top: -10px;
	
}
.chartLine,.hotEnergy{
	margin-top: 20px;
	border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 30px;
}

/*右边样式*/
.chartRight{
	width: 25%;
	margin-top: 10px ;
}
.chartRight ul li{
	width:168px;
	margin: 0 auto;
	text-align:center ;
	margin-bottom: 10px;
}
.chartRight ul li dl{
	width: 168px;
}
.chartRight ul li dt{
	font-size: 14px;
	font-weight: 100;
	margin-bottom: 5px;
}
.chartRight ul li:nth-of-type(1) dt{
	color: #1AB394;
}
.chartRight ul li:nth-of-type(2) dt{
	color: #26c6da;
}
.chartRight ul li:nth-of-type(3) dt{
	color: #ffa726;
}
.chartRight ul li dd:nth-of-type(1){
	width: 168px;
	height: 80px;
	text-align: center;
	border:2px solid #1AB394 ;
	border-radius:  168px 168px 0 0 ;
	-webkit-border-radius:  168px 168px 0 0 ;
	margin-bottom: 5px;
	font-size:14px ;
	color:#1AB394;
}
.chartRight ul li dd:nth-of-type(2){
	width: 168px;
	height: 80px;
	text-align: center;
	border-radius:0 0  168px 168px  ;
	-webkit-border-radius: 0 0 168px 168px  ;
	border:2px solid #55c9b2 ;
	font-size:14px;
	color:#55c9b2;
}
.chartRight ul li:nth-of-type(2) dd:nth-of-type(1){
	border-color: #26c6da;
	color:#26c6da;
}
.chartRight ul li:nth-of-type(2) dd:nth-of-type(2){
	border-color: #8bcad2;
	color:#8bcad2;
}
.chartRight ul li:nth-of-type(3) dd:nth-of-type(1){
	border-color: #ffa726;
	color:#ffa726;
}
.chartRight ul li:nth-of-type(3) dd:nth-of-type(2){
	border-color: #ffcb7e;
	color:#ffcb7e;
}

.chartRight ul li dd span{
	font-size: 28px;
	display: inline-block;
	width: 100%;
	margin-top: 8px;
}
/*南丁格尔图*/
div#diagram{
	margin-top: 20px;
	margin-left: 30px;
	overflow: hidden;
	margin-bottom: 20px;
	display: none;
}
#diagram p{
	height: 43px;
	line-height: 43px;
	width: 80%;
	font-size: 18px !important;
   /* color: #4C4C4C;*/
    border-bottom: 1px solid #ccc;
    
}
#diagram .heatConsum{
	width: 48%;
	border: 1px solid #ccc;
	height:280px ;
	float: left;
	border-radius: 3px;
}
#diagram .heatConsum:nth-of-type(2){
	margin-left: 30px;
}
#diagram .heatConsum:nth-of-type(1) p{
	color: #8bcad2;
}
#diagram .heatConsum:nth-of-type(2){
	color: #ffa726;
}
#diagram ol>li>p{
	font-size: 14px;
	color: #333;
	height: 45px;
	line-height: 46px;
	padding-left: 10px;
	background: #f9f9f9;
	border-bottom: 1px solid #f3f3f3;
}
.heatConsum{
	padding-left: 20px;
}
.heatConsum li{
	height: 42px;
	line-height: 42px;
	position: relative;
}
.heatConsum ol{
	margin-top: 10px;
}
.heatConsum li label{
	width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	font-size: 14px;
	color: #7a7879;
	font-weight:normal;
	text-align: right;
}
.heatConsum li .circle{
	width: 25px;
	height:25px;
	border-radius: 50%;
	background: #e1e1e1;
	border:1px solid #cdcdcd;
	position: absolute;
	left: 110px;
	top: 8px;
	
}
.heatConsum li .circleColor{
	width: 25px;
	height:25px;
	border-radius: 50%;
	background: #5ca5b4;
	border:1px solid #cdcdcd;
	position: absolute;
	left: 110px;
	top: 8px;
	
}
#waterEnergy li:nth-of-type(2) .circleColor,#waterEnergy li:nth-of-type(2) .progressColor{
	background: #71afbc;
}
#waterEnergy li:nth-of-type(3) .circleColor,#waterEnergy li:nth-of-type(3) .progressColor{
	background: #83b9c5;
}
#waterEnergy li:nth-of-type(4) .circleColor,#waterEnergy li:nth-of-type(4) .progressColor{
	background: #9ecdd7;
}
#waterEnergy li:nth-of-type(5) .circleColor,#waterEnergy li:nth-of-type(5) .progressColor{
	background: #aed6e0;
}
#electricEnergy li:nth-of-type(1) .circleColor,#electricEnergy li:nth-of-type(1) .progressColor{
	background: #e8b451;
}
#electricEnergy li:nth-of-type(2) .circleColor,#electricEnergy li:nth-of-type(2) .progressColor{
	background: #f2bd57;
}
#electricEnergy li:nth-of-type(3) .circleColor,#electricEnergy li:nth-of-type(3) .progressColor{
	background: #f7c360;
}
#electricEnergy li:nth-of-type(4) .circleColor,#electricEnergy li:nth-of-type(4) .progressColor{
	background: #fdd774;
}
#electricEnergy li:nth-of-type(5) .circleColor,#electricEnergy li:nth-of-type(5) .progressColor{
	background: #ffde85;
}
.heatConsum li .progressLine{
	/*width: 400px;*/
	width:55%;
	height: 15px;
	background: #e1e1e1;
	border: 1px solid #cdcdcd;
	position: absolute;
	left: 132px;
	top: 13px;
	border-left: 0;
	border-top-right-radius:7px ;
	border-bottom-right-radius:7px ;
}
.heatConsum li .progressColor{
	width: 55%;
	height: 15px;
	background: #5ca5b4;
	border: 1px solid #cdcdcd;
	position: absolute;
	left: 132px;
	top: 13px;
	border-left: 0;
	border-top-right-radius:7px ;
	border-bottom-right-radius:7px ;
}
.heatConsum li span{
	float: right;
	position: absolute;
	right: 10px;
	top:0;
	color: #787878;
}
.heatConsum li i{
	position: absolute;
	left: 250px;
	top:0;
	color: #fff;
}